* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar img {
    width: 50px;
    height: auto;
}

.navbar h1 {
    flex-grow: 1;
    font-size: 24px;
}

.nav a {
    color: white;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.nav select {
    margin-left: 20px;
    padding: 5px;
    color: white;
    background-color: #333;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px 20px;
    background-color: white;
}

.fitness {
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px;
    margin: 20px;  
}

.yoga {
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
}

.crossfit {
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
}

.spinning {
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 50px;
    margin: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.5;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: left;
}

.about {
    width: 30%;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

footer p, footer ul {
    margin-bottom: 10px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer .social-icons img {
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

.footer-policies p {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

