* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar img {
    width: 50px;
    height: auto;
}

.title {
    flex-grow: 1;
    font-size: 24px;
    color: white;
    font-weight: 700;
    transition: color 0.2s;
}

.title:hover {
    color: rgb(9, 75, 9);
}

.nav a {
    color: white;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 3px;
}


.gallery-photos {
    padding: 40px 20px;
    text-align: center;
}

.gallery-photos h2 {
    margin-bottom: 30px;
    font-size: 32px;
    color: white;
}

.Gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.gallery-item {
    background-color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 255);
    width: 200px;
    overflow: hidden;
    text-align: left;
}

.gallery-item img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.gallery-info {
    padding: 10px;
    font-size: 14px;
    color: #555;
    background-color: white;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    background-color: #333;
    color: white;
    padding: 40px 20px;
    text-align: left;
}

.about {
    width: 30%;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

footer p, footer ul {
    margin-bottom: 10px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer .social-icons img {
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

.footer-policies p {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}
