* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
}

button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: black;
}

header {
    background-color: #222;
    color: white;
    padding: 15px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-wrap: wrap;
}

.navbar img {
    width: 50px;
    height: auto;
}

.title {
    flex-grow: 1;
    font-size: 24px;
    color: white;
    font-weight: 700;
    transition: color 0.2s;
}

.title:hover {
    color: rgb(9, 75, 9);
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    color: white;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.nav select {
    margin-left: 20px;
    padding: 5px;
    color: white;
    background-color: #333;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nav {
        flex-direction: column;
        width: 100%;
    }

    .nav a,
    .nav select {
        margin: 10px 0;
    }
}

.second-nav {
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px;
    flex-wrap: wrap;
}

.second-nav a {
    margin: 5px 15px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.second-nav a:hover {
    background-color: #555;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 20px;
}

.item-title {
    font-size: 32px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.suplement-container, 
.equipment-container, 
.gymwear-container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
}

.suplement-item, 
.equipment-item, 
.gymwear-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 300px; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 600px) {
    .suplement-container, 
    .equipment-container, 
    .gymwear-container {
        justify-content: space-around;
    }
}

@media (min-width: 768px) {
    .suplement-container, 
    .equipment-container, 
    .gymwear-container {
        justify-content: space-evenly;
    }
}

.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    background-color: #222;
    color: white;
    padding: 40px 20px;
    text-align: left;
}

.about {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

footer h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

footer p, footer ul {
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

footer .social-icons img {
    width: 30px;
    margin: 10px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .about {
        width: 30%;
        text-align: left;
    }

    .footer {
        justify-content: space-between;
    }

    .footer .social-icons {
        justify-content: flex-start;
    }
}

.footer-policies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.footer-policies p {
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .footer-policies {
        justify-content: flex-start;
    }
}
